.sc-level--map {
  background: url("../images/backgrounds/map.svg");
  width: 100%;
  height: 100%;
}

.sc-level--tile {
  width: 20px;
  height: 20px;
  border: 10px solid blue;
  background: blue;
  border-radius: 50%;
  position: absolute;
  // overflow: hidden;
  -webkit-transition: all .4s;
  box-shadow: 0 0 10px transparent;
  z-index: 2;

  &:before {
    content: "";
    width: 18px;
    height: 18px;
    border: 1px solid blue;
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -10px;
    -webkit-transition: all .4s;
    -webkit-animation: level-blip .8s linear infinite;
    border-radius: 50%;
  }

  img {
    width: 0px;
    height: 0px;
    -webkit-transition: all .4s;
  }

  &.sc-level--tile__01 {
    top: 313px;
    left: 818px;
  }

  &.sc-level--tile__02 {
    top: 215px;
    left: 156px;
  }

  &.sc-level--tile__03 {
    top: 484px;
    left: 351px;
  }

  &.selected {
    width: 216px;
    height: 166px;
    border-radius: 0;
    border: 8px solid #000;
    -webkit-transform: translateX(-100px) translateY(-75px);
    box-shadow: 0 0 30px rgba(0,0,0,0.8);

    &:before {
      display: none;
    }

    img {
      width: 200px;
      height: 150px;
    }
  }
}

@-webkit-keyframes level-blip {
  0% {
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
    opacity: 0;
  }
}