.sc-main--character {
  position: absolute;
  top: 0%;
  -webkit-transform: scale(1.2);
  right: -57%;
  pointer-events: none;

  @include mq(850px) {
    display: none;
  }
}
.sc-main--character + .sc-main--character {
  -webkit-transform: scale(1.2) rotateY(180deg);
  right: auto;
  left: -57%;
}

.sc-main--title {
  position: absolute;
  top: 9%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  z-index: 5;
  max-height: 41%;

  img {
    display: block;
    margin: 0 auto;
    max-width: 95%;
    max-height: 90%;
  }
}

.sc-main--buttons {
  position: absolute;
  bottom: 6%;
  text-align: center;
  width: 100%;
  z-index: 20;
  max-height: 44%;
  font-size: 0;
  line-height: 0;
}

.sc-main--button {
  display: inline-block;
  width: 16%;

  @include mq(850px) {
    width: 30%;
  }

  @include mq(450px) {
    width: 35%;
  }

}

.sc-main--buttons .button {
  font-size: 24px;
  line-height: 1.1;
  padding: 36px 20px;
  box-shadow: inset 0 0 20px rgba(255,255,255,0.6);
  display: block;
  width: 100%;

  @include mq(850px) {
    font-size: 22px
  }

  @include mq(450px) {
    font-size: 16px;
    padding: 20px;
  }

  @include mq(480px, height) {
    padding: 18px;
  }

  &#main__settingsBtn {
    @include mq(450px) {
      width: 70%;
    }
  }

  &[disabled] {
    opacity: 0.2;
  }
}