.sc-main--character {
  position: absolute;
  top: 0%;
  -webkit-transform: scale(1.2);
  right: -25%;
  pointer-events: none;
}
.sc-main--character + .sc-main--character {
  -webkit-transform: scale(1.2) rotateY(180deg);
  right: auto;
  left: -25%;
}

.sc-main--title {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  z-index: 5;
}

.sc-main--play {
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 100%;
  z-index: 20;
}