// in-game settings
$arrow-container-width:   200px;
$character-width:         390px;
$character-height:        auto;
$comic-font:              "hvdComic", sans-serif;

@import "game-container";
@import "intro";
@import "main-menu";
@import "character-select";
@import "level-select";
@import "scene-round";
@import "overlays";
@import "../fonts/stylesheet";


/*
DONE
* Timer
* Character select screen
* End game when timer hits zero
* Style health bars
* Animations for character select screen
* Pause Button
* Title screen
* Preloaderposition: absolute;
top: 11px;
right: 14px;
* Level Select screen

TODO
* Character select keyboard controls
* Main menu keyboard controls
* Level select keyboard controls
* Falling arrows
* Arrow sillhouette
* Success arrows
* Failure arrows
* Game over screen redesign
* Locked characters
* Unlocking characters by completing levels
* Fill out backgrounds
* Complete character sketches
* Complete Fuzz artwork
* Complete Gunn artwork
* Complete AJ artwork
* Complete Nads artwork
* Complete Manhands artwork
* Complete Jamus artwork
* Complete Em artwork
* Complete Thabbo artwork
* Complete Fabbian artwork
*/