@font-face {
    font-family: 'hvdComic';
    src: url('../fonts/HVD_Comic_Serif_Pro-webfont.eot');
    src: url('../fonts/HVD_Comic_Serif_Pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HVD_Comic_Serif_Pro-webfont.woff') format('woff'),
         url('../fonts/HVD_Comic_Serif_Pro-webfont.ttf') format('truetype'),
         url('../fonts/HVD_Comic_Serif_Pro-webfont.svg#hvdComic') format('svg');
    font-weight: normal;
    font-style: normal;
}

